.container {
	width: 51.063rem;
	height: 31.563rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 1.618rem;
	box-shadow: 1px 1px 1.618rem rgba(141, 140, 140, 0.123);
	overflow: hidden;
	background-color: rgba(17, 17, 17, 0.1618);
}

.left_detail {
	width: 19.5rem;
	background-color: rgba(59, 58, 58, 0.162);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 1rem;
}
.left_detail .name_detail {
	color: rgba(210, 210, 253);
	text-align: center;
	font-size: 1.6rem;
}
.left_detail .text_detail {
	color: rgba(189, 182, 182, 0.795);
	text-align: center;
}
.left_detail .text_detail p {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 600;
}
.left_detail .text_detail span {
	color: rgba(155, 155, 155, 0.8);
	padding-inline: 10px;
	font-weight: 500;
}
.left_detail .temp_detail {
	font-size: 1.2rem;
}
.left_detail .temp_detail h4 {
	color: rgb(210, 210, 253, 0.795);
	font-size: 1.4rem;
}
.left_detail .temp_detail ul {
	color: rgba(210, 210, 253, 0.795);
	list-style-type: none;
	padding-bottom: 5px;
}
.left_detail .temp_detail li {
	color: rgba(201, 201, 240, 0.603);
	font-size: 1.2rem;
	text-align: center;
	padding-top: 5px;
}

.right_detail {
	background-color: #0f0;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
.right_detail .image {
	background-color: #000;
	width: 100%;
	height: 100%;
	background-size: cover;
	object-fit: cover;
}
.right_detail button {
	position: absolute;
	top: 28px;
	right: 28px;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: rgba(228, 31, 31, 0.322);
	border: none;
	transition: all 0.2s ease;
	border-radius: 50%;
	color: rgba(247, 242, 242, 0.664);
}
.right_detail button:hover {
	transform: scale(1.322);
	background: rgba(228, 31, 31, 0.618);
}
