.navbarContainer {
	height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent !important;
	border-bottom: 1px solid var(--ifm-color-emphasis-300);
	box-shadow: none !important;
}

.navbarContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.navLink {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
}

.navbarLogo {
	margin-left: 10px;
	margin-right: 10px;
	width: 5rem;
	height: 5rem;
}

.navbarLogo {
	width: 50px;
	height: 50px;
}
